



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="浙江通易网络科技有限公司、779游戏、www.game779.com、网站认证、网站信誉、安全联盟、品牌宝">
    <meta name="description" content="www.game779.com">
    <title>安全联盟品牌验证档案库－779游戏</title>
    <link type="text/css" href="css/stylea.css?v=1361094500" rel="stylesheet">
</head>

<body>

<div class="wrap tac m-hd">
  <img height="56" width="63" src="images/aqlm.png" alt="安全联盟"><i>&</i><img height="56" width="56" src="images/ppb.png" alt="品牌宝">
  <h1>安全联盟品牌验证档案库</h1> 
</div>

<div class="wrap guide cf">
  <form class="search-bar fl" method="GET" action="http://v.pinpaibao.com.cn/credit_archive/">
      <input type="text" class="trans" placeholder="请输入网址查询" name="query" autocomplete="off" spellcheck="false">
      <button type="submit" class="trans"><img src="images/search.png" alt="搜索"></button>
  </form>
  
  <div class="s_tab">
    <a href="javascript:;" id="one1" onClick='return setTab("one",1,2);' class="s_on">验证证书 <i></i></a>
    <a href="javascript:;" id="one2" onClick='return setTab("one",2,2);'>网站信息 <i></i></a>
  </div>
  
</div>



<div id="cont_one_1" class="card auto">
  <img height="auto" width="1048" height="792" src="images/file.jpg" alt="">
  <div class="s_mask"></div>
  <div class="s_bg">
    <p class="s_g">安全联盟亚太地区品牌验证中心</p>
    <div class="s_star"><i class="i-ll"></i><i class="i-star"></i><i class="i-star"></i><i class="i-star"></i><i class="i-star"></i></i><i class="i-lr"></i></div>
    <div class="s_title i-aqlm"><i class="i-gw"></i></div>
    <p class="s_a">The Brand Verification Center of Cyber Security Alliance in the Asia-Pacific Region <br />
    The Site verification of Cyber Security Alliance</p>
    <p class="s_b">兹证明：浙江通易网络科技有限公司旗下网站</p>
    <h3>779游戏 <small>www.game779.com</small></h3>
    <p class="s_c">通过了经营内容合法性验证、运营方实名验证、经营资质核验、<br />网站安全性评估、知名度和品牌验证、网站优质评估等172项审核。</p>
    <p class="s_d">证书有效期：2015/11/02-2017/11/01 <br> 证书编号：TL312015110240211</p>
    <p class="s_e">审核方：<span>安全联盟</span> <span>品牌宝</span></p>
    <p class="s_f">签发方：中国电子商务协会网址安全评估技术专业委员会</p>
  </div>
</div>


<div id="cont_one_2" class="file wrap  dn ">
  
  <img class="s_img auto" src="images/d04f41fa-8389-11e5-aadc-00163ee2ad68.png" width="160" height="160" />
  
  <p class="s_desc auto">www.game779.com</p>
  <div class="s_a">
    <strong>信誉累积
      
         1 年
      
    </strong>
  </div>
  <ul class="auto">
    <li>  
          <i class="i-weibo"></i>
          
          
          <a href="http://www.pinpaibao.com.cn/intro/index/" class="text-link"><span>暂未收录,点击补充</span></a>
          
          
    </li>
    <li>
         <i class="i-qq"></i>
         暂无
    </li>
    <li>
        <i class="i-mail"></i>
        暂无@qq.com
    </li>
    <li>
       <i class="i-add"></i>
        浙江省衢州市振兴西路203号
    </li>
  </ul>
  <div class="s_qr">
      
      <img class="s_qr_img" src="images/b75e9baa-8389-11e5-91b8-00163ee2ad68.png" width="140" height="140" />
      
      <strong>微信公众号：779游戏中心</strong>
  </div>
</div>

<p class="auto announce fs12 mb20">
  <strong>免责声明：</strong>品牌宝验证企业身份信息和经营范围是否符合国家法律法规，验证企业是否真实存在。品牌宝验证不包含销售的商品和提供的服务，请用户在购买企业商品和使用企业服务时仔细鉴别。在访问金融类网站时，请注意投资风险，保护自己财产安全。本次验证结果经过严格审核，欢迎公众监督“
  <a target="_blank" href="tencent://message/?Menu=yes&uin=800062925&Service=58&SigT=A7F6FEA02730C988829286BE02B3FEE1A9942C0804974C26E027791E908E87132AB82B74DDC0951E34838297C25D779480AE6AB82502D01F5255A4B2085B78F2745507B863401E5FC4B6D32788294ACEFDE183033DC68083C8EB26F58DED625D14836296499B3965A76EA3B1F8F4983C6E3DEC45F24CC4D5&SigU=30E5D5233A443AB21CF687042CEC69214D97E933CDFD74FA0F07D509AD961DAD4629A9B21B12825703D9CC6E2F4340A902C4841ADF6828904D9F5E99198D79F5CC30FB86920490A7">举报</a>
  ”(举报邮箱：PPB@knownsec.com)， 如有疑问请点击“
  <a target="_blank" href="http://www.pinpaibao.com.cn/help/">帮助</a>
  ”或者“
  <a target="_blank" href="tencent://message/?Menu=yes&uin=800062925&Service=58&SigT=A7F6FEA02730C988829286BE02B3FEE1A9942C0804974C26E027791E908E87132AB82B74DDC0951E34838297C25D779480AE6AB82502D01F5255A4B2085B78F2745507B863401E5FC4B6D32788294ACEFDE183033DC68083C8EB26F58DED625D14836296499B3965A76EA3B1F8F4983C6E3DEC45F24CC4D5&SigU=30E5D5233A443AB21CF687042CEC69214D97E933CDFD74FA0F07D509AD961DAD4629A9B21B12825703D9CC6E2F4340A902C4841ADF6828904D9F5E99198D79F5CC30FB86920490A7">联系我们</a>
  ”。 </p>



<p class="tac stages mt30">
  <a class="kiss_bt" href="http://www.pinpaibao.com.cn/intro/index/?from=authenticate">点击获得信誉认证</a>
  <span class="db mb20 mt30">网站信誉展示平台</span>
  <img src="images/stages.png" width="319" height="36" alt="网站信誉展示平台">
</p>


<script>
{literal}
  function setTab(name,m,n){
      for( var i=1;i<=n;i++){
        var menu = document.getElementById(name+i);
        var showDiv = document.getElementById("cont_"+name+"_"+i);
        menu.className = i==m ?"s_on":"";
        showDiv.style.display = i==m?"block":"none";
      }
      return false;
  };

{/literal}
</script>

</body>
</html>
