<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>游戏下载</title>
	<!-- <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="gameLoad">
						<div class="speed" style="height:280px">
							<div class="stop">
								<span>游戏大厅-Android(安卓)客户端</span>
							</div>
							<div class="sbottom">
								<div class="sbleft">
									<p>发布日期 ：2017年03月06日</p>
									<p>版本 ：v1.0.0</p>
									<p>操作系统 ：Android4.0.3以上</p>
									<p>软件大小 ：28.0M</p>
									<p>下载次数:{$download_android}</p>
									<p>更新内容：安卓简洁版</p>
								</div>
								<div class="sbright" style="margin-top: 10px;margin-left: 300px;text-align: center;">
									<img src="images/Android_tmp.png" style="width:150px;margin-top: 0px;margin-bottom:5px"><br/><a target="_blank" href="/?n=index&a=download_tmp"><img src="images/gameload.png"style="width:170px"></a>

								</div>
							</div>
						</div>
						<div class="complete">
							<div class="ctop">
								<span>游戏大厅-IOS(苹果)客户端</span>
							</div>
								<!--<div class="cbottom">
								<div class="cbleft">
									<br>
									<p><p>iOS版下载敬请关注官网公告</p></p>
								</div>
								</div> -->
								<div class="cbottom">
								<div class="cbleft">
									<p>发布日期 ：2016年10月28日</p>
									<p>版本 ：v1.2.0</p>
									<p>操作系统 ：iOS 7.0以上</p>
									<p>软件大小 ：41.2M </p>
									<p>下载次数:{$download_ios}</p>
									<p>更新内容：苹果简洁版</p>
								</div>
								<div class="sbright" style="margin-top: 10px;margin-left: 300px;text-align: center;">
									<br>
									<img src="images/ios.png" style="width:150px;margin-top: -20px;"><br/><a target="_blank" href="https://fir.im/7jt1"><img src="images/gameload.png"style="width:170px"></a>
								</div>
							</div>
						</div>
						
						
						<!--<div class="complete">
							<div class="ctop">
								<span>游戏大厅-android客户端</span>
							</div>
							<div class="cbottom">
								<div class="cbleft">
									<p>发布日期 ：2016年03月24日</p>
									<p>版本 ：v1.7.0</p>
									<p>操作系统 ：Android4.0.3以上</p>
									<p>软件大小 ：78.1M</p>
									<p>更新内容：新增小游戏——温州牛牛</p>
								</div>
								<div class="sbright" style="margin-top: 10px;margin-left: 300px;text-align: center;">
									<img src="images/Android.png" style="width:150px;margin-top: 0px;margin-bottom:5px"><br><a target="_blank" href="/?n=index&a=download"><img src="images/gameload.png"style="width:170px"></a>

								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
				<div style="clear: both"></div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>