<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>779游戏大厅-大厅下载</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/download.css">

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
</head>
<body>
	 {include file="public/header.tpl"}
	<div class="clear"></div>
	<div class="banner">
		<img src="images/download-banner.png" alt="">
	</div>
	<!-- 主体部分 -->
	<main>
		<div class="container">
			<h3>游戏大厅-简洁客户端</h3>
			<p style="color:red;font-size:16px;border: 1px solid #eee;padding: 6px 10px;line-height:32px;">温馨提示：尊敬的用户,由于游戏大厅下载受360等杀毒软件影响，会有木马病毒等信息提示，游戏大厅安装文件会被隔离，但游戏安装文件本身是安全的,为了保证能顺利安装，请您先退出360等杀毒软件后重新下载，安装完游戏大厅后再开启，安装完成后便可正常运行。</p >
			<p>
			<p>
				<span>版本：v1.0.0.100</span>
				<span>操作系统：Windows 2000/Xp/7/8/10</span>
				<span>发布日期：2018年01月02日</span>
			</p>
			<div class="download clearfix">
				<div class="download-btn">
					<a href="http://down.game779.com/install/Game779_setup.exe"><img src="images/icon/download-icon.png" alt="">&nbsp; 游戏下载</a>
				</div>
				<div class="download-btn">
					<a href="http://down.game779.com/install/vcredist_x86.exe"><img src="images/icon/download-icon.png" alt="">&nbsp; 运行库下载</a>
					<p>游戏无法运行弹出错误请点击下载运行库</p>
				</div>
				<div class="download-btn">
					<a href="http://down.gamedwj.com/install/directx_9.0c.exe"><img src="images/icon/download-icon.png" alt="">&nbsp; directx9.0c下载</a>
					<p>游戏无法运行弹出错误请点击下载directx</p>
				</div>
			</div>
			<h3>游戏大厅-完整客户端</h3>
			<p>
				<span>版本：v1.0.0.100</span>
				<span>操作系统：Windows 2000/Xp/7/8/10</span>
				<span>发布日期：2018年01月02日</span>
			</p>
			<div class="download">
				<div class="download-btn">
					<a href="http://down.game779.com/install/full_game779_setup.exe"><img src="images/icon/download-icon.png" alt="">&nbsp; 游戏下载</a>
				</div>
			</div>
		</div>
	</main>
	{include file="public/footer.tpl"}
</body>
</html>