<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>帮助中心</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>简化版系统重装教程</b></div><br>
							  <div>
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block">    
											<div><p>
													为了玩家朋友能有个比较安全的游戏环境，我们为大家介绍一种比较快捷简单的电脑系统重装方法。特别注意：电脑重装之前请备份好您电脑的重要资料，可以选择U盘，移动硬盘或者云盘等工具拷贝出去。Win10系统的电脑无法使用360重装。</p>
												<p>
													首先您的电脑需要安装一款360安全卫士</p>
												<p><img src="images/360_icon.png"></p>
												<p >
													如果没有的可以去360官网（ <a href="http://www.360.cn/weishi/index.html?source=homepage&r=bd" target="_blanket" color:white>http://www.360.cn/weishi/index.html?source=homepage&r=bd</a>）下载安装。</p><br>
												<p>
													<img src="images/360_jiemian_01.png" style="width:590px;"></p><br>
												<p>
													然后选择系统重装，如图:</p>
												<p>
													<img src="images/360_jiemian_02.png" style="width:590px;"></p><br>
												<p>
													360就会自动检测您电脑的硬件，安装最适合您电脑的系统。360系统重装会自动重装您的电脑系统。预计装机时间30分钟左右。</p>
												<p>
													因为360系统重装只会重做您的系统盘，一般就是C盘。为了安全起见，建议大家把其他的盘格式化一遍。格式化之前不建议先联网。请在断网状态下完成格式化。</p><br>
												<p>
													格式化方法如下，首先打开您的计算机。</p>
												<p><img src="images/geshi_01.png" style="width:590px;"></p>
												<p>
													可以看到若干的磁盘，如C,D,E,F。您需要做的就是把除了C盘之外的其他盘进行格式化。</p><br>
												<p>
													如D盘需要格式化。请右键点击D盘，弹出如下窗口</p>
												<p><img src="images/geshi_02.png"></p><br>
												<p>点击格式化，然后弹出</p>
												<p><img src="images/geshi_03.png"></p><br>
												<p>
													然后选择快速格式，点击开始即可，等他进度条读完，说明格式化完毕。其他盘也是相同的操作方法。</p>
												<p>
													等其他盘都格式化之后，您就可以联网并且下载您需要使用的软件了，之后重新到593游戏官网下载我们的游戏就可以放心游戏了。我们的唯一官网：www.game593.com。</p>
												</div>
										</span>
									</div>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>