<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>帮助中心</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>银行微信绑定流程</b></div><br>
							  <div>
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block">    
											<div><p>
												近期盗号频繁，强烈建议大家进行银行转账微信绑定。尽可能的保护好自己的账号安全。</p>
											<p>
												银行微信验证绑定流程如下：</p><br>
											<p>
												首先您的把账号进行微信登录验证的绑定，这样才能进行银行绑定。微信登录绑定只要您登录游戏的时候，弹出微信绑定提示，选择是。如图：</p>
											<p>
												<img src="images/liucheng_01.png"></p><br>
											<p>
												游戏弹出的扫一扫对话框：</p>
											<p>
												<img src="images/liucheng_02.png" style="width:590px"></p><br>
											<p>
												用您微信扫一扫功能扫描后关注公众号，如图：</p>
											<p>
												<img src="images/liucheng_03.png"></p><br>
											<p>
												然后进入游戏银行，弹出的窗口提醒您是否绑定微信验证，选择是，如图：</p>
											<p>
												<img src="images/liucheng_04.png"></p><br>
											<p>
												在弹出的二维码窗口用微信扫一扫之后就成功绑定银行转账的微信验证功能了。</p>
											<p>
												这功能的好处在于您每次银行需要向外赠送欢乐豆，都需要通过您微信的验证才能进行，否则就无法操作。</p>
											<p>
											</div>
										</span>
									</div>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>