<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>运维后台</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/blue.css" />
    <link type="text/css" rel="stylesheet" href="/css/wbox.css" />
    <script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/init.js"></script>
    <script type="text/javascript" language="javascript" src="/js/common.js"></script>
    <script type="text/javascript" language="javascript" src="/js/extend.js"></script>
    <script type="text/javascript" language="javascript" src="/js/event.js"></script>
    <script type="text/javascript" language="javascript" src="/js/wbox.js"></script>
    <script type="text/javascript" language="javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" language="javascript">
        {literal}
        var Sys={
            SetProperty:function(){
                //setting.Params = '';
                init.SetTableRows();//初始化鼠标移到表格行显示背景
                //绑定分页
                var Param = '$(this).attr("pg"),"Sys.CallBackGetPagerCashOut"';
                var Param1 = '$(this).val(),"Sys.CallBackGetPagerCashOut"';
                evt.BindPageClick('','page.GetPage',Param,Param1);
            },
            /*分页回调*/
            CallBackGetPagerCashOut:function(data){
                $('#PageList').html(data);
                Sys.SetProperty();
            }
        };

        $(function(){
            {/literal}
                    setting.PageUrl = '{au d=Service c=CashOut a=getPagerCashOutList}';
                    {literal}
                    Sys.SetProperty();
                     /*点击搜索*/
                    $('#btnSearch').click(function(){
                        $('#Msg').html('');
                        var StartTime = $('#StartTime').val();
                        var EndTime = $('#EndTime').val();
                        var LoginID = $('#LoginID').val();
                        var paytype = $('#paytype option:selected').val();
                        var checktype = $('#checktype option:selected').val();
                        var ispay = $('#isdrawback option:selected').val();
                        if(LoginID!='' && isNaN(LoginID)){
                            $('#Msg').html('请填写正确的玩家编号');
                            return;
                        }
                        setting.Params = 'StartTime='+StartTime+'&EndTime='+EndTime+'&LoginID='+LoginID+"&payType="+paytype+"&checktype="+checktype+"&ispay="+ispay;
                        ajax.RequestUrl(setting.PageUrl,setting.Params,'Sys.CallBackGetPagerCashOut');
                    });
                    $('#EndTime').focus(function(){
                        WdatePicker({minDate:'%y-%M-{%d-90}',{/literal}maxDate:'{$EndTime}'{literal}});
                        });

                    $('#StartTime').focus(function(){
                        WdatePicker({minDate:'%y-%M-{%d-90}',{/literal}maxDate:'{$EndTime}'{literal}});
                    });
                });
                        function showUserGameInfo(id,name){

                            var url='{au d=Service c=ServiceRole a=getGameInfo}';
                            setting.Params='name='+name+'&id='+id;
                            window.parent.main.AddTab(name,'('+id+')',url+setting.Params);
                        }
                {/literal}
    </script>
</head>

<body>
<fieldset class="left">
    <legend>查询</legend>
    <span class="left" style="margin:0">起始日期：</span>
    <input id="StartTime" class="txt left" type="text" value="" size="12" />
    <span class="left" style="margin:0">结束日期：</span>
    <input id="EndTime" class="txt left" type="text" value="" size="12" />
    <span class="left" style="margin:0">玩家编号：</span>
    <input type="text" class="txt left" name="LoginID" id="LoginID" value="" size="10" maxlength="12"/>
    <span class="left" style="margin:0">支付方式：</span>
    <select id="paytype" name="paytype" class="left">
        <option value="">支付方式</option>
        <option value="1">支付宝</option>
        <option value="2">银行</option>
    </select>

    <span class="left" style="margin:0">审核状态：</span>
    <select id="checktype" name="checktype" class="left">
        <option value="">审核状态</option>
        <option value="0">未审核</option>
        <option value="1">已审核</option>
        <option value="2">已拒绝</option>
        <option value="3">已结算</option>
    </select>
    <span class="left" style="margin:0">付款状态：</span>
    <select id="isdrawback" name="isdrawback" class="left">
        <option value="">付款状态</option>
        <option value="1">已付款</option>
        <option value="0">未付款</option>
    </select>
    <input type="button" id="btnSearch" class="btn f2 left" value="查询" /><span id="Msg" class="red"></span>
    <br class="clear" />
</fieldset>

<div class="right" style="line-height:22px;cursor:pointer;width:50px;" onclick="page.GetPage($('.txtPage').val(),'Sys.CallBackGetPagerCashOut');">
    <div class="refresh icon left" style="margin-top:2px"></div><span class="left">刷新</span>
</div>
<br class="clear" />
<div id="PageList">
    {include file="$skin/Service/CashOutListPage.html"}
</div>

</body>
</html>
