<div class="sysWin">
    <h2 class="f2 white">
        <div class="tLeft f1 left"></div>编辑支付类型信息
        <div class="tRight f1 right"></div>
        <a title="关闭" class="btnCls f3 right" href="javascript:void(0);" onclick="main.CloseMsgBox(true,'GamePayClass')"/></a>
        <br class="clear" />
    </h2>

    <div class="bdy">
        <table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">

            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >支付名称:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="classname" id="classname" value="{$Info.classname}"></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >银行卡:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="bank" id="bank" value="{$Info.bank}"></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >卡号:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="cardno" id="cardno" value="{$Info.cardno}"></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >收款人姓名:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="cardname" id="cardname" value="{$Info.cardname}"></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >备注:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="descript" id="descript" value="{$Info.descript}"></td>
            </tr>

        </table>
        <div class="bot f2">

            <div class="botLeft f1 left"></div>

            <div class="botRight f1 right"></div>
            <input type="hidden" name="classid" id="classid" value="{$Info.classid}" />
            <input type="button" class="btn f2 right" value="取 消" onclick="main.CloseMsgBox(true,'GamePayClass')"/>
            <input type="button" class="btn f2 right" value="确 定" id="btnAddAd" />

            <div class="orange right" id="ResultMsg"></div>
            <br class="clear" />
        </div>
    </div>
    <script type="text/javascript" language="javascript">
        {literal}
        var ctrlEdit={
            BindEvent:function(){
                $('#btnAddAd').click(function(){
        {/literal}
                setting.Url='{au d=Service c=GamePayClass a=doEdit}';
        {literal}
                        $('#ResultMsg').next().html('');
                        var classid = $('#classid').val();
                        var classname = $('#classname').val();
                        var cardno = $('#cardno').val();
                        var cardname = $('#cardname').val();
                        var bank = $('#bank').val();
                        var descript = $('#descript').val();



                        if(cardname=='' || classid == '' || bank=='' ||cardno==''||classname==''){
                            $('#ResultMsg').html('*参数异常');
                            return false;
                        }

                        setting.Params = 'classid='+classid+'&classname='+classname+'&cardname='+cardname+'&bank='+bank+'&cardno='+cardno+'&descript='+descript;
                        ajax.RequestUrl(setting.Url,setting.Params,'callback.SetClassRool');
                    });
            }
        }
        {/literal}

    </script>