<div class='borderGrayColor' style='padding:10px;'>
	<span style='font-weight:bold;'>解除锁定</span>
	<table width='100%' border='0' cellpadding='0' cellspacing='0' class='bg_color'>
		<tr>
			<td class='txt_R'>解锁原因(50字内)：</td><td class='txt_L pad5'><textarea id='Remarks' style='width:200px; height:75px;'>{$result.Remarks}</textarea></td>
		</tr>
		<tr>
			<td colspan='2' id='errorMsg' class='txt_M pad5 orange'></td>
		</tr>
		<tr>
			<td colspan='2' class='txt_M pad5'>
				<input id='RoleID' type='hidden' name='roleID' value='{$roleID}' />
				<input id='iLoginID' type='hidden' value='{$loginID}' />
				<input id='Pid' type='hidden' value='{$result.PID}' />
				<input id='applyBtn' type='button' class='bnStyle f2' value='确认' />
			</td>
		</tr>
	</table>
</div>
<script type='text/javascript'>
{literal}
$(function(){
	$('#applyBtn').click(function(){
		var roleID = $.trim($('#RoleID').val());
		var loginID = $.trim($('#iLoginID').val());
		var remarks = $.trim($('#Remarks').val());
		var pid = $('#Pid').val()?$.trim($('#Pid').val()):'';

		if(remarks == ''){
			$('#errorMsg').html('解锁原因不能为空！');
			$('#Remarks').focus();
			return false;
		}
		
		var params = 'Remarks='+remarks+'&roleID='+roleID+'&Pid='+pid+'&loginID='+loginID;
		ajax.RequestUrl('/?d=Service&c=ServiceRole&a=unlockTable', params, 'callback.GetEditOperationResult');
	})
})
{/literal}
</script>