<div class='borderGrayColor' style='padding:10px;'>
	<span style='font-weight:bold;'>处罚角色</span>
	<table width='100%' border='0' cellpadding='0' cellspacing='0' class='bg_color'>
		<tr>
			<td class='txt_R'>案件编号：</td>
			<td class='txt_L pad5'><input type='text' id='caseSerial' class='txt_inp' /> <span id='Msg'></span></td>
		</tr>
		<tr>
			<td class='txt_R'>处理原因：</td>
			<td class='txt_L pad5'>
				<select id='Reason' style='width:150px;'>
					<option value='1'>恶意炒分</option>
					<option value='2'>拉变速</option>
					<option value='3'>杀猪</option>
					<option value='4'>非正常积分</option>
					<option value='5'>公开买卖游戏虚拟财富</option>
					<option value='6'>作弊软件</option>
					<option value='7'>盗号</option>
					<option value='8'>盗取虚拟财富</option>
					<option value='9'>不文明聊天或刷屏</option>
					<option value='10'>违规用户名或昵称</option>
					<option value='11'>恶意占桌锁机</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class='txt_R'>处理结果：</td>
			<td class='txt_L pad5'>
				<select id='Status' style='width:150px;'>
					<option value='1'>封号</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class='txt_R'>封号期限：</td>
			<td class='txt_L pad5'>
				<select id='iNumber' style='width:150px;'>
					<option value='30'>一个月</option>
					<option value='90'>三个月</option>
					<option value='180'>六个月</option>
					<option value='365'>一年</option>
					<option value='-1'>永久</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class='txt_R'>解封要求：</td>
			<td class='txt_L pad5'>
				<select id='Requirement' style='width:150px;'>
					<option value='1'>财富清零</option>
					<option value='2'>积分清零</option>
					<option value='0'>无</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class='txt_R'>备注：<br/><br/>(250字内)　</td><td class='txt_L pad5'><textarea id='Remarks' style='width:200px; height:75px;'></textarea></td>
		</tr>
		<tr>
			<td colspan='2' id='errorMsg' class='txt_M pad5 orange'></td>
		</tr>
		<tr>
			<td colspan='2' class='txt_M pad5'>
				<input type='hidden' id='RoleID' value='{$roleID}' />
				<input id='iLoginID' type='hidden' value='{$loginID}' />
				<input type='hidden' id='chkFlag' value='1' />
				<input id='applyBtn' type='button' class='bnStyle f2' value='确　认' />
			</td>
		</tr>
	</table>
</div>
<script type='text/javascript'>
{literal}
$(function(){
	$('#caseSerial').blur(function(){
		var caseSerial = $.trim($(this).val());
		if(caseSerial){
			$.post('/?d=Service&c=ServiceRole&a=checkCaseSerial', {iCaseSerial:caseSerial}, function(data){
				if(data == 1){
					var src='images/common/check.gif';
					$('#Msg').html('<img src='+src+' />');
				}else{
					$('#Msg').html('');
					$('#errorMsg').html('案件编号匹配失败');		
					$('#chkFlag').val(0);
					return false;
				}
			})
		}
		$('#chkFlag').val(1);
	});
	$('#applyBtn').click(function(){
		var roleID = $.trim($('#RoleID').val());
		var loginID = $.trim($('#iLoginID').val());
		var caseSerial = $.trim($('#caseSerial').val());
		var reason = $('#Reason').val();
		var number = $('#iNumber').val();
		var requirement = $('#Requirement').val();
		var remarks = $.trim($('#Remarks').val());
		var flag = $('#chkFlag').val();
		
		if(!remarks){
			$('#errorMsg').html('案件备注信息不能为空');
			return false;
		}
		
		var params = 'caseSerial='+caseSerial+'&reason='+reason+'&number='+number+'&requirement='+requirement+'&Remarks='+remarks+'&roleID='+roleID+'&loginID='+loginID;
		if(flag==0){
			$('#errorMsg').html('案件编号匹配失败');
			return false;
		}	
		ajax.Request('/?d=Service&c=ServiceRole&a=punishRoleTable', params, 'callback.GetEditOperationResult');			
	})
})
{/literal}
</script>