<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>帮助中心</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>临时维护补偿公告</b></div><br>
							  <div>
					                <p align="left"><span style="font-size:18px;">亲爱的游戏玩家： </span></p>
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block"> 
										 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp由于机房线路切割造成网络波动引发服务器无法登陆。游戏需要临时维护1小时左右，如果提前或延后第一时间通知大家，请大家耐心等待。<br>
很抱歉对大家造成不便。<br>
维护好之后所有获取过系统赠送的欢乐豆的账号可以重新领取欢乐豆。绑定微信或者直接用微信登录游戏就可以获取系统赠送的欢乐豆。
										</span>
									</div>
									<div align="right"><strong> <p align="right">779游戏运营团队</p>
										<p align="right">2017-03-19</p>
										<br>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>