<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>欢乐至尊上线公告</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>欢乐至尊上线公告</b></div><br>
							  <div>
					                <!-- <p align="left"><span style="font-size:18px;">亲爱的游戏玩家： </span></p> -->
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block">
											<p>尊敬的各位玩家：
										</p>
									</br>
										<p>779游戏为大家奉上百人游戏《欢乐至尊》，已经推出公测，敬请大家尝试！</p>
										<br/>
										<br/>
										</span>
									</div>
									</br>
									</br>
									 <div align="right"><strong> <p align="right">779游戏运营团队</p>
										<p align="right">2018-03-02</p>
										<br>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>