<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>维护公告</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>779游戏安全公告</b></div><br>
							  <div>
					                <p align="left"><span style="font-size:18px;">亲爱的游戏玩家： </span></p>
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block"> 
										 779游戏运营中心特别提醒广大玩家朋友们请注意，最近Baidu等各搜索引擎搜索我们779游戏时出现各类仿冒网站<br>访问此类网站会危害您的电脑系统及游戏或其它各类账号信息安全。为了您的个人信息安全请认准我们993唯一官网https://www.game779.com<br><br>个别假冒网站比较难以区别，以下列出容易混淆的假冒网站：<br>&nbsp&nbsp&nbsp&nbspwww.ga<font size=12 color=#ff0000>rn</font>e779.net/?993<br>&nbsp&nbsp&nbsp&nbspwww-Game779-com.aliapp.com
										</span>
									</div>
									<div align="right"><strong> <p align="right">779游戏运营团队</p>
										<p align="right">2018-03-20</p>
										<br>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>