<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>更新公告</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>手机客户端及时更新公告</b></div><br>
							  <div>
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block"> 
										 <p>尊敬的玩家：</p> 
										 <br/>
										 <p>经过程序员这么多天的加班赶工，目前我们的安卓，IOS手机端有6款游戏（李逵捕鱼，新摇钱树，温州牛牛，通比牛牛，港式五张，龙虎30秒）已经上线，还未更新的玩家请及时更新，感谢您的支持和厚爱！</p>
										 <br/>
										 <p>安卓手机端：
										 <img src="images/Android.png" style="width:150px;margin: 10px 200px"></p> 
										 <br/>
										 <br/>
										 <p>IOS手机端：
										 <img src="images/ios.png" style="width:150px;margin: 10px 200px"></p> 
										 <br/>
										</span>
									</div>
									<div align="right"><strong> <p align="right">779游戏运营团队</p>
										<p align="right">2018-04-07</p>
										<br>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>