<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>大闹天宫捕鱼正式上线</title>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fun.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style type="text/css">
    {literal}
		.strong{
    		font-size:18px;
    		color:red;
		}
		table{
			text-align: center;
			margin: 10px;
			padding: 5px;
			font-size: 16px;
			text-indent:0;
		}
		td{
			border:1px solid;
		}
    {/literal}
	</style>
</head>
<body>
    {include file="public/header.tpl"}
	<div id="main">
		<div class="content">
			<div class="details h">
                {include file="public/leftMenu.tpl"}
				<div class="detailsRight">
					<div class="commonProblem new-two">
						<div id="main">
							<div align="center" style="color:white; font-size:30px;"><b>大闹天宫捕鱼正式上线</b></div><br>
							  <div>
					                <p align="left"><span style="font-size:18px;">尊敬的玩家： </span></p>
									<!--StartFragment -->
									<div>
										<span style="font-size:18px;text-indent:2em;display: block"> 
										 <p>大闹天宫捕鱼游戏将于2018年05月24日下午15:00整正式上线，欢迎新老玩家进行游戏并多提宝贵意见和建议!
										 官方客服QQ：---
										 客服电话：---</p>
										 <br/>
										 <br/>
										 <br/>
										</span>
									</div>
									<div align="right"><strong> <p align="right">779游戏运营团队</p>
										<p align="right">2018-05-23</p>
										<br>
										</strong>
									</div>
					            </div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
    {include file="public/footer.tpl"}
</body>
</html>