<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>运维后台</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/blue.css" />
<link type="text/css" rel="stylesheet" href="/css/wbox.css" />
<script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/init.js"></script>
<script type="text/javascript" language="javascript" src="/js/common.js"></script>
<script type="text/javascript" language="javascript" src="/js/extend.js"></script>
<script type="text/javascript" language="javascript" src="/js/event.js"></script>
<script type="text/javascript" language="javascript" src="/js/wbox.js"></script>
<script type="text/javascript" language="javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" language="javascript">
{literal}
var Sys={
	SetProperty:function(){
		init.SetTableRows();//初始化鼠标移到表格行显示背景
		//绑定分页
		var Param = '$(this).attr("pg"),"Sys.CallBackGetPagerActiveUser"';
		var Param1 = '$(this).val(),"Sys.CallBackGetPagerActiveUser"';
		evt.BindPageClick('','page.GetPage',Param,Param1);
	},
	/*分页回调*/
	CallBackGetPagerActiveUser:function(data){
		$('#PageList').html(data);
		Sys.SetProperty();
	}
};

$(function(){	
{/literal}
	Sys.SetProperty();
	setting.PageUrl = '{au d=YunYing c=ActiveUser a=getPagerActiveUserList}';
{literal}
	$('.btn').click(function(){
		var EndTime = $('#EndTime').val();
		setting.Params = '&AddTime='+EndTime;
		ajax.RequestUrl(setting.PageUrl,setting.Params,'Sys.CallBackGetPagerActiveUser');
	});
	$('#EndTime').focus(function(){
		WdatePicker({minDate:'%y-%M-{%d-6}',{/literal}maxDate:'{$EndTime}'{literal}});
	});		
});
{/literal}
</script>
</head>

<body>
<fieldset class="left">
<span class="left" style="margin:0">查询日期：</span>
<input id="EndTime" class="txt left" type="text" value="{$EndTime}" size="12" />
</fieldset>
<input type="button" class="btn f2" value="查询"/>
<div id="PageList">
{include file="$skin/YunYing/ActiveUserListPage.html"}
</div>

</body>
</html>
