<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>运维后台</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/blue.css" />
<script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/init.js"></script>
<script type="text/javascript" language="javascript" src="/js/common.js"></script>
<script type="text/javascript" language="javascript" src="/js/extend.js"></script>
<script type="text/javascript" language="javascript" src="/js/event.js"></script>
<script type="text/javascript" language="javascript">
{literal}
$(function(){
	init.SetTableRows();//初始化鼠标移到表格行显示背景	
});
{/literal}
</script>
</head>

<body>
<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">
  <tr>
    <th width="14%" bgcolor="#FFFFFF">流水号</th>
    <th width="12%" bgcolor="#FFFFFF">本局开始时间</th>
    <th width="6%" bgcolor="#FFFFFF">比赛桌号</th>
	<th width="15%" bgcolor="#FFFFFF">参赛玩家(登录号+昵称+编号)</th>
	<th width="10%" bgcolor="#FFFFFF">是否托管(一托到底)</th>
    <th width="5%" bgcolor="#FFFFFF">本局结果</th>
	<th width="6%" bgcolor="#FFFFFF">上局积分</th>	
	<th width="6%" bgcolor="#FFFFFF">本局成绩</th>
	<th width="6%" bgcolor="#FFFFFF">当前积分</th>
  </tr>
  {foreach from=$MatchDeskPlayerList item=Match}
  <tr>
    <td align="center" bgcolor="#FFFFFF">{$Match.SerialNumber}</td>
    <td align="center" bgcolor="#FFFFFF">{$Match.StartTime}</td>
    <td align="center" bgcolor="#FFFFFF">{$Match.TableNumber}</td>
    <td align="center" bgcolor="#FFFFFF">{$Match.LoginCode} {$Match.LoginName}({$Match.LoginID})</td>
	<td align="center" bgcolor="#FFFFFF">{if $Match.IsAuto}是{else}否{/if}</td>
	<td align="center" bgcolor="#FFFFFF">{$Match.PlayStatus}</td>
	<td align="center" bgcolor="#FFFFFF">{$Match.LastScore}</td>
    <td align="center" bgcolor="#FFFFFF">{$Match.Score}</td>
	<td align="center" bgcolor="#FFFFFF">{$Match.CurScore}</td>
  </tr>
  {foreachelse}
  <tr>
    <td colspan="9" align="center" bgcolor="#FFFFFF">暂无记录</td>
  </tr>
  {/foreach}  
</table>

</body>
</html>
