<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">
  <tr>
    <th width="17%" bgcolor="#FFFFFF">玩家编号</th>
    <th width="17%" bgcolor="#FFFFFF">玩家昵称</th>
	<th width="22%" bgcolor="#FFFFFF">金币(用户银行)</th>
	<th width="22%" bgcolor="#FFFFFF">金币(游戏银行)</th>
    <th width="22%" bgcolor="#FFFFFF">总和</th><!--
    <th width="15%" bgcolor="#FFFFFF">注册IP</th>
    <th width="20%" bgcolor="#FFFFFF">最近登陆IP</th>-->
  </tr>
  {foreach from=$UserList item=List}
  <tr>
    <td align="center" bgcolor="#FFFFFF">{$List.LoginID}</td>
    <td align="center" bgcolor="#FFFFFF">{$List.LoginName}</td>
	<td align="center" bgcolor="#FFFFFF">{$List.Money}</td>
	<td align="center" bgcolor="#FFFFFF">{$List.GameMoney}</td>
    <td align="center" bgcolor="#FFFFFF">{$List.TotalMoney}</td>  <!--
    <td align="center" bgcolor="#FFFFFF">{$List.RegIP}</td> 
    <td align="center" bgcolor="#FFFFFF">{$List.LastLoginIP}</td>   -->
  </tr>
  {foreachelse}
  <tr>
    <td colspan="5" align="center" bgcolor="#FFFFFF">暂无记录</td>
  </tr>
  {/foreach}
  {if $UserList}
  <tr>
    <td colspan="5" align="center" bgcolor="#FFFFFF">{include file="$skin/Inc/Page.inc.html"}</td>
  </tr>
  {/if}
</table>