<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">
  <tr>
    <th width="8%" bgcolor="#FFFFFF">玩家编号</th>
  <th width="10%" bgcolor="#FFFFFF">角色名</th>
    <th width="16%" bgcolor="#FFFFFF">机器码</th>
    <th width="16%" bgcolor="#FFFFFF">IP地址</th>
  <th width="6%" bgcolor="#FFFFFF">电话</th>
  <th width="9%" bgcolor="#FFFFFF">身份证</th>
  <th width="10%" bgcolor="#FFFFFF">添加时间</th>
  <th width="8%" bgcolor="#FFFFFF">操作</th>
  </tr>
  {foreach from=$LogsList item=List}
  <tr class="bg_color">
  <td align="center" bgcolor="#FFFFFF">{$List.RoleID}</td>
    <td align="center"><a href="javascript:void(0);" class="roleName" id="{$List.RoleID}"  title="{$List.RoleName}({$List.RoleID})" bgcolor="#FFFFFF">{if $List.RoleName!=""}{$List.RoleName}{else}(未设置){/if}</a></td>
    <td align="center" bgcolor="#FFFFFF">{$List.MachineSerial}</td>
    <td align="center" class="ip-info" data-ip="{$List.ClientIP}" bgcolor="#FFFFFF">{$List.ClientIP}{$List.IPPlace}</td>    
    <td align="center"  class="tel-info" data-tel="{$List.Phone}" bgcolor="#FFFFFF">{$List.Phone}</td> 
    <td align="center" class="idcard-info" data-idcard="{$List.CardNo}"  bgcolor="#FFFFFF" >{$List.CardNo}</td> 
    <td align="center" bgcolor="#FFFFFF">{$List.AddTime}</td>     
    <td align="center" bgcolor="#FFFFFF"><a href="javascript:void(0)" class="del" id="{$List.RoleID}" time="{$List.AddTime}">删除</a></td>
  </tr>
  {foreachelse}
  <tr>
    <td colspan="8" align="center" bgcolor="#FFFFFF">暂无记录</td>
  </tr>
  {/foreach}
  {if $LogsList}
  <tr>
    <td colspan="8" align="center" bgcolor="#FFFFFF">{include file="$skin/Inc/Page.inc.html"}</td>
  </tr>
  {/if}
</table>
<script type="text/javascript" src="/js/taobao_ip_info.js"></script>
<script type="text/javascript" src="/js/tel_segment.js"></script>
<script type="text/javascript" src="/js/idcard.js"></script>
<script type="text/javascript">
{literal}
$(function(){
      $('.roleName').click(function(){
{/literal}
      setting.Url='{au d=Service c=ServiceRole a=getRoleInfo}';
      setting.Params='&loginID='+$(this).attr('id');
      window.parent.main.AddTab($(this).attr('title'),'ServiceRole'+$(this).attr('id'),setting.Url+setting.Params);
{literal}
});
{/literal}
{literal}
	$('.del').each(function(){
		$(this).click(function(){
{/literal}
			setting.Url='{au d=YunYing c=LoginWarnLogs a=delPagerLogs}';
			setting.Params = 'RoleID='+$(this).attr('id')+'&AddTime='+$(this).attr('time');
{literal}
			if(confirm('删除后将无法恢复,确定删除?'))
				ajax.Request(setting.Url,setting.Params,'callback.DelPagerLogs');
			
		});	
	});
});
{/literal}
</script>