<div class="sysWin" style="width:800px">
	<h2 class="f2 white">
		<div class="tLeft f1 left"></div>设置分库
		<div class="tRight f1 right"></div>
		<a title="关闭" class="btnCls f3 right" href="javascript:void(0);" onclick="main.CloseMsgBox(true,'MapDB')"/></a>
		<br class="clear" />
	</h2>
	
	<div class="bdy">
		<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">
		  <tr>
			<td align="right">彩蛋抽税率:</td>
			<td ><input type="text" class="txt" name="LuckyEggTax" id="LuckyEggTax" value="{$arrRes.LuckyEggTax}"></td>
		  </tr>
		  <input type=hidden name="RoomID" id="RoomID" value="{$arrRes.RoomID}">

		  
	  </table>

	</div>

	<div class="bot f2">
		<div class="botLeft f1 left"></div>
		<div class="botRight f1 right"></div>
		<input type="button" class="btn f2 right" value="取 消" onclick="main.CloseMsgBox(true,'MapDB')"/>
		<input type="button" class="btn f2 right" value="提 交" id="btnAddMap" />
        <div class="orange right" id="ResultMsg"></div>
		<br class="clear" />
	</div>
</div>
<script type="text/javascript" language="javascript">
{literal}
$(function(){
	$('#btnAddMap').click(function(){
{/literal}
		setting.Url='{au d=YunWei c=RoomLuckyEggMoney a=editRoomLuckyEggMoney}';
{literal}	
		var RoomID = $('#RoomID').val();
		var LuckyEggTax= $('#LuckyEggTax').val();
		if(isNaN(LuckyEggTax) || LuckyEggTax==''){
			$('#ResultMsg').html('请输入正确的彩蛋抽税率');
			return false;
		}
		setting.Params='RoomID='+RoomID+'&LuckyEggTax='+LuckyEggTax;
		ajax.Request(setting.Url,setting.Params,'callback.editRoomLuckyEggMoney');
	});		
});
{/literal}
</script>