<div class="sysWin">
	<h2 class="f2 white">
		<div class="tLeft f1 left"></div>设置{$ServerTypeName}服务器		
		<div class="tRight f1 right"></div>
		<a title="关闭" class="btnCls f3 right btnCancel" href="javascript:void(0);" /></a>
		<br class="clear" />
	</h2>
	
	<div class="bdy">
		<input type="hidden" name="ServerID" id="ServerID" value="{$ServerID}" />
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td align="right">原外网地址:</td>
			<td>
			<textarea name="PreServerIP" id="PreServerIP" cols="30" rows="5" class="textarea"></textarea>
			 <span class="orange">*格式如127.0.0.1,多个请换行</span>
			</td>
		  </tr>
		  <tr>
			<td align="right">服务器外网地址:</td>
			<td>
			<textarea name="ServerIP" id="ServerIP" cols="30" rows="5" class="textarea"></textarea>
			 <span class="orange">*格式如127.0.0.1,多个请换行</span>
			</td>
		  </tr>
	  </table>

	</div>

	<div class="bot f2">
		<div class="botLeft f1 left"></div>
		<div class="botRight f1 right"></div>
		<input type="button" class="btn f2 right btnCancel" value="取 消" />
		<input type="button" class="btn f2 right" value="提 交" id="btnAddServer" />
        <div class="orange right" id="AddServerMsg"></div>
		<br class="clear" />
	</div>
</div>
<script type="text/javascript" language="javascript">
{literal}
var svrEdit={
	BindEvent:function(TabTag,ServID){
		/*提交*/
		$('#btnAddServer').click(function(){
{/literal}
			setting.Url='{au d=YunWei c=$ClassName a=editServer}';	
			sys.EditServer('{$ClassName}',ServID);	
{literal}		
		});	
		/*关闭弹出层*/
		$('.btnCancel').click(function(){
			main.CloseMsgBox(false,TabTag);
		});
	}
};
{/literal}
</script>