<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>运维后台</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/blue.css" />
<script type="text/javascript" language="javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/init.js"></script>
<script type="text/javascript" language="javascript" src="/js/common.js"></script>
<script type="text/javascript" language="javascript" src="/js/extend.js"></script>
<script type="text/javascript" language="javascript" src="/js/event.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery.uploadify.min.js"></script>
<script type="text/javascript" language="javascript">
{literal}
$(function(){
	$('#btnAddSysConfig').click(function(){
		$('#ResultMsg').html('');		
		$('#MaxRooms').next().html('');
		var MaxRooms = $('#MaxRooms').val();
		var DaySalary = $('#DaySalary').val();
		var BasePower = $('#BasePower').val();
		var MaxAccPowerPer = $('#MaxAccPowerPer').val();
		var PowerPer = $('#PowerPer').val();
		if(isNaN(MaxRooms) || MaxRooms<=0){
			$('#MaxRooms').next().html('请输入正确的最大房间数');
			$('#MaxRooms').focus();
			return false;
		}		
{/literal}
		setting.Url = '{au d=YunWei c=SysConfig a=addSysConfig}';
		setting.Params = 'MaxRooms='+MaxRooms+'&DaySalary='+DaySalary+'&BasePower='+BasePower+'&MaxAccPowerPer='+MaxAccPowerPer+'&PowerPer='+PowerPer;
		ajax.RequestUrl(setting.Url,setting.Params,'callback.AddSysConfig');
{literal}	
	});
});

{/literal}
</script>
</head>

<body>
<form method="post">
<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">
  <tr>
    <td width="17%" align="right" bgcolor="#FFFFFF">打开最大房间数:</td>
    <td width="83%" bgcolor="#FFFFFF">    	
    	<input type="text" class="txt" name="MaxRooms" id="MaxRooms" value="{$Sys.MaxRooms}"> <span class="orange">必须是大于0的正整数</span>
    </td>
  </tr>
  <tr>
    <td width="17%" align="right" bgcolor="#FFFFFF">黄钻日工资:</td>
    <td width="83%" bgcolor="#FFFFFF">    	
    	<input type="text" class="txt" name="DaySalary" id="DaySalary" value="{$Sys.DaySalary}"> 金币
    </td>
  </tr>
  <tr>
    <td width="17%" align="right" bgcolor="#FFFFFF">基础体力值:</td>
    <td width="83%" bgcolor="#FFFFFF">    	
    	<input type="text" class="txt" name="BasePower" id="BasePower" value="{$Sys.BasePower}">
    </td>
  </tr>
  <tr>
    <td width="17%" align="right" bgcolor="#FFFFFF">累积体力上限百分比:</td>
    <td width="83%" bgcolor="#FFFFFF">    	
    	<input type="text" class="txt" name="MaxAccPowerPer" id="MaxAccPowerPer" value="{$Sys.MaxAccPowerPer}">
		<span class="orange">请填写小数格式(最大累积体力上限百分比120%,相对基础体力值而言)</span>
    </td>
  </tr>
  <tr>
    <td width="17%" align="right" bgcolor="#FFFFFF">累积体力百分比:</td>
    <td width="83%" bgcolor="#FFFFFF">    	
    	<input type="text" class="txt" name="PowerPer" id="PowerPer" value="{$Sys.PowerPer}">		
		<span class="orange">请填写小数格式(累积体力是基础体力的百分比30%)</span>
    </td>
  </tr>  
  <tr>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td bgcolor="#FFFFFF">
    	<input type="button" class="btn f2" value="提 交" id="btnAddSysConfig" />
    	<input type="reset" class="btn f2" value="重 置" /> 	<span id="ResultMsg" class="orange"></span>
    </td>
  </tr>
</table>
</form>

</body>
</html>