<div class="sysWin">
    <h2 class="f2 white">
        <div class="tLeft f1 left"></div>新增子菜单
        <div class="tRight f1 right"></div>
        <a title="关闭" class="btnCls f3 right" href="javascript:void(0);" onclick="main.CloseMsgBox(true,'SysMenu')"/></a>
        <br class="clear" />
    </h2>

    <div class="bdy">
        <table width="100%" border="0" cellpadding="1" cellspacing="1" class="tbList">

            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >菜单目录编号:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" readonly name="id" id="id" value="{$Info.id}"></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >菜单目录:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" readonly name="name" id="name" value="{$Info.name}"></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >菜单名称:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="subname" id="subname" value=""></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >控制器名称:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="controler" id="controler" value=""></td>
            </tr>
            <tr>
                <td width="17%" align="right" bgcolor="#FFFFFF" >排序:</td>
                <td width="83%" bgcolor="#FFFFFF"><input type="text" class="txt" name="order" id="order" value="1"></td>
            </tr>
        </table>
        <div class="bot f2">

            <div class="botLeft f1 left"></div>

            <div class="botRight f1 right"></div>
            <input type="button" class="btn f2 right" value="取 消" onclick="main.CloseMsgBox(true,'SysMenu')"/>
            <input type="button" class="btn f2 right" value="确 定" id="btnAddAd" />

            <div class="orange right" id="ResultMsg"></div>
            <br class="clear" />
        </div>
    </div>
    <script type="text/javascript" language="javascript">
        {literal}
        var ctrlEdit={
            BindEvent:function(){
                $('#btnAddAd').click(function(){
                    {/literal}
                        setting.Url='{au d=Yunwei c=SysMenu a=doAdd1}';
                        {literal}
                        $('#ResultMsg').next().html('');
                        var id = $('#id').val();
                        var controler = $('#controler').val();
                        var subname = $('#subname').val();
                        var order = $('#order').val();



                        if(id==''||controler==''||isNaN(id)||subname==''||!order){
                            $('#ResultMsg').html('*参数异常');
                            return false;
                        }

                        setting.Params = 'id='+id+'&controler='+controler+'&subname='+subname+'&order='+order;
                        ajax.RequestUrl(setting.Url,setting.Params,'callback.AddSysMenuRool');
                    });
            }
        }
        {/literal}

    </script>